iframe {
-moz-box-shadow: 2px 2px 7px #000;
-webkit-box-shadow: 2px 2px 7px #000;
box-shadow: 2px 2px 7px #000;
}

.media-edge {
height: 100px;
font-family: Raleway;
padding-top: 50px;
}

.inmedia {
color: black;
font-size: 35px;
}

.description {
  color: black;
  padding-bottom: 40px;
}

.post-wrapper {
padding-top: 40px;
}

.insta1, .insta2, .insta3, .insta4 {
  display: inline-block;
  padding: 20px;
}

.myId{
    overflow:hidden;
}
.article1 {
display: inline-block;
color: black;
}

.insta-header {
  padding-top: 50px;
  margin-bottom: 50px;
  position: relative;
  color: black;
}

.insta-wrappolini {
  background-color: #EFF5F9;
  padding-bottom: 70px;
}

.article1:hover {
  cursor: pointer;
  color: #2D2D2D;
}

.iframe-1, .iframe-2 {
  display: inline-block;
  padding-bottom: 20px;
  margin: 5px 25px 5px 5px;
}

.arrow {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}

.arrow:hover {
  cursor: pointer;
  display: inline-block;
  transform: translate3d(5px, 0, 0);
}
