.edge-sponsors {
  font-family: Raleway;
  text-align: center;
  padding-bottom: 90px;
  background-color: #FFF !important;
}

.App-title {
  color: black;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* .Sponsors{
height: 100px;
font-family: Raleway;
text-align: center;
padding-bottom: 60px;
width: 100%;
background-color: #FFF !important;
} */

.partnerOne {
display: inline-block;
background-size: 100% 100%;
height: 5em;
margin-right: 50px;
width: 13em;
margin: 1em;
border-radius: 10em;
filter: gray;
-webkit-filter: grayscale(100%);
-webkit-transition: width 0.5s, height 0.5s;
transition: width 0.5s, height 0.5s;
}

.partnerTwo {
display: inline-block;
background-size: 100% 100%;
margin: 1em;
height: 5em;
width: 9em;
filter: gray;
padding-bottom: 20px;
-webkit-filter: grayscale(100%);
border-radius: 0.9em;
-webkit-transition: width 0.5s, height 0.5s;
transition: width 0.5s, height 0.5s;
}

.partnerThree {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 20em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partnerFour {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 15em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partnerFive {
display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 15em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partnerSix{
display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 15em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}
.partnerSeven {
display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 15em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partnerEight {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 17em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partner9 {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 13em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partner10 {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 9em;
  width: 13em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partner11 {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 5em;
  width: 13em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.partner12 {
  display: inline-block;
  background-size: 100% 100%;
  margin: 1em;
  height: 4em;
  width: 15em;
  filter: gray;
  -webkit-filter: grayscale(100%);
  border-radius: 0.9em;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.alpina-text {
  display: inline-block;
  position: relative;
  bottom: 20px;
  width: 500px;
  color: black;
}

.plan-text {
  display: inline-block;
  position: relative;
  bottom: 30px;
  width: 500px;
  color: black;
}

.alliance-text {
  display: inline-block;
  position: relative;
  bottom: 50px;
  width: 500px;
  color: black;
}

.pic-wrapper {
  padding-bottom: 50px;
  padding-top: 60px;
  background-color: #FFF !important;
}

.partnerOne:hover, .partnerTwo:hover, .partnerThree:hover, .partnerFour:hover, .partnerFive:hover, .partnerSix:hover, .partnerSeven:hover, .partnerEight:hover, .partner9:hover, .partner10:hover, .partner11:hover, .partner12:hover{
  cursor: pointer;
  filter: none;
 -webkit-filter: grayscale(0%);
}

.homepicture{
height: 100%;
width: 35%;
position: relative;
left: 40px;
top: 100px;
}

.gpn-wrapper, .vollestad-wrapper, .alpina-wrap, .kvb-wrapper, .alliance-wrapper, .marwe-wrapper{
  display: inline-block;
  margin-right: 80px;
}
.byggi-wrapper, .gs-wrapper, .dsb-wrapper, .planhuset-wrapper, .madshus-wrapper, .tsgr-wrapper {
display: inline-block;
}
