.about-wrapper {
  height: 100px;
  font-family: Raleway;
  text-align: center;
  padding-top: 10px;
  margin:0 auto;
}
.about-1, .about-2, .about-3, .about-4, .about-5, .about-6, .about-11, .about-22, .about-33, .about-44, .about-55, .about-66 {
  display: inline-block;
}

.about-1, .about-2, .about-3, .about-4, .about-5, .about-6 {
  font-weight: bold;
  margin-right: 7px;
}

.about-title {

}
.info-card{
  font-weight: normal !important;
  max-width:650px;
  display: inline-block;
  margin:0 auto;
  line-height: 35px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: left;
  margin-top: 10px;
  width: 17%;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #FFF;
}
.info-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-wrap {
text-align: center;
padding-bottom: 50px;
}
.picture {
width: 60%;
background-color: blue;
position: relative;
left:20vw;
}

@media (max-width:782px) {
.about-text{
  font-size: 3vw;
}
.about-title {
  font-size: 4vw;
}
}
